<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<title>求物品</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/public.css">
	<link rel="stylesheet" type="text/css" href="css/item.css">
</head>
<body>
<!-- 导航 -->
<header class="navbar">
	<div class="nav-info" id="login_status">
			<span v-if="id==''">
				<a href="login.html" class="username">前往登录</a>
			</span>
			<span v-else>
				<a href="personal.html" class="username">{{name}}</a>
				<a href="#" class="logout" v-on:click="logout()">[ 退出登录 ]</a>
			</span>
	</div> <!-- nav-info -->
	<!--搜索框-->
	<div class="nav-search" id="search" >
		<a href="index.html"><img class="logo" src="img/logo3.png"></a>
		<div class="search-form">
			<a href="#" class="search-logo">| &nbsp;<img src="img/search.png"></a>
			<input type="search" class="searchIn" placeholder="搜物品" v-model="keyWord">
			<button class="searchBtn" v-on:click="search">搜索</button>
		</div>
	</div><!--  nav-search -->
	<ul class="menu">
		<li><a href="index.html">首页</a></li>
		<li><a href="allItems.html">全部物品</a></li>
		<li><a class="active" href="askItem.html">求物品</a></li>
		<li><a href="shoppingCart.html">购物车</a></li>
		<li><a href="personal.html">个人中心</a></li>
	</ul>
</header>

<div id="askItem">
	<!-- 物品分类 -->
	<div id="container">
		<div id="item-menu">
			<ul class="item-class">
				<li v-for="(item,index) in classify">
					<a v-on:click="change_classify(index)">{{item}}</a>
				</li>
				<!--<li><a href="#">历史 / 地理 / 艺术</a></li>-->
			</ul>
		</div>
		<div id="item-menu-toggle">
			分 类 筛 选
			<div id="toggle-btn"></div>
		</div>

		<div id="item-container">
			<h3 class="item-title"><a href="#">| 求物品</a></h3>
			<span v-if="itemList.length==0" class="align-center">这里没有内容哦~</span>
			<ul class="item-lists">
				<li class="item-list" v-for="item in itemList" v-on:click="to_detail(item.commodity_id)">
					<a href="#" class="item-pic">
						<img :src="item.commodity_cover_pic_url">
					</a>
					<a href="#" class="item-info">
						<h5 class="item-name">{{item.commodity_name}}</h5>
						<span class="item-detail"><b>校区：</b>{{item.area}}<br> <b>类型：</b>{{item.commodity_type}}</span>
					</a>
					<span class="item-price">￥{{item.commodity_price}}
						<a href="#" class="item-buy">查看详情</a>
					</span>
				</li>


			</ul><!--  item-list end -->
		</div> <!-- item-container end-->
		<!--
		<span class="page-btn">
			<a href="#" class="page-top">首页</a>
			<a href="#" class="page-pre">上一页</a>
			<a href="#" class="page-next">下一页</a>
			<a href="#" class="page-end">尾页</a>
		</span>
		-->
	</div><!-- container end-->
</div>

<footer class="footer-center"> 
	<a href="#">©2019-2020 二手物品交易</a>
	<a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
</footer>
<script type="text/javascript" src="js/jquery-3.2.js"></script>
<script type="text/javascript" src="js/login_status.js" charset="utf-8"></script>
<script type="text/javascript" src="js/search.js" charset="utf-8"></script>
<script type="text/javascript" src="js/askItem.js" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
		//菜单特效
		var index = 0
		$("#item-menu-toggle").on("click",function(){
			if (index ===0 ) {
				$("#item-menu").css("left","1px");
				$(this).css("left","178px");
				index =1;
			}else{
				$("#item-menu").css("left","-180px");
				$(this).css("left","1px");
				index=0;
			}
		});

		//点击菜单，对应类别颜色加深
		$(".item-class li").on("click",function(){
			//加粗当前点击的li
			$(this).css("font-weight","600").siblings("li").css("font-weight","500");
		});
	})
</script>

</body>
</html>