
<!DOCTYPE html>
<html>
<head>
	<title>编辑书本信息</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/upload.css">	
</head>
<body>
<!-- 导航条 -->
<nav class="navbar">
	<div class="nav-menu">
		<ul class="menu">
			<li><a href="index.html">首页</a></li>
			<li><a href="allItems.html">全部物品</a></li>
			<li><a href="askItem.html">求物品</a></li>
			<li><a href="shoppingCart.html">购物车</a></li>
			<li><a class="active" href="personal.html">个人中心</a></li>
		</ul>
	</div><!-- nav-menu -->

	<!--搜索框-->
	<div class="nav-search" id="search">
		<input type="search" class="searchIn" placeholder="搜物品" v-model="keyWord">
		<button class="search-logo" v-on:click="search"><img src="img/search2.png"></button>
	</div>

	<div class="nav-info" id="login_status">
			<span v-if="id==''">
				<a href="login.html" class="username">前往登录</a>
			</span>
			<span v-else>
				<a href="personal.html" class="username">{{name}}</a>
				<a href="#" class="logout" v-on:click="logout()">[ 退出登录 ]</a>
			</span>
	</div> <!-- nav-info -->
</nav>

	<div class="titleName">
		<h3>编辑二手书信息</h3>
	</div>

	<div class="container">
		<form>
			<p>
				<span class="pic-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				修改书图片： <input type="file" name="item-pic" id="item-file">
				<img id="item-pic" src="img/loadPic.png">
			</p>
			<p>
				<span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				书&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<input type="text" name="item-name">				
			</p>
			<p>
				<span class="author-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者：<input type="text" name="item-author">
			</p>
			<p>
				<span class="orign-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				书&nbsp;本&nbsp;&nbsp;原&nbsp;价：<input type="text" name="item-orign">	
			</p>
			<p>
				<span class="price-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				书&nbsp;本&nbsp;&nbsp;售&nbsp;价：<input type="text" name="item-price">	
			</p>			
			<p>
				<span class="press-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				出&nbsp;&nbsp;&nbsp;&nbsp;版&nbsp;&nbsp;&nbsp;社：<input type="text" name="item-press">	
			</p>
			<p>
				<span class="time-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				出&nbsp;版&nbsp;&nbsp;时&nbsp;间：<input type="month" name="item-time">	
			</p>
			<p>
				<span class="version-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				印&nbsp;刷&nbsp;&nbsp;版&nbsp;本：<input type="text" name="item-version">	
			</p>
			<p>
				<span class="condition-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				书&nbsp;本&nbsp;&nbsp;品&nbsp;相：<input type="text" name="item-condition">	
			</p>
			<p>
				<span class="desc-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				书&nbsp;本&nbsp;&nbsp;描&nbsp;述：<input type="text" name="item-desc">
			</p>

			<input type="submit" class="submit-btn" name="item-submit">															
		</form>
	</div>
	<footer>
		<a href="#">©2018-2019 二手物品交易</a>
		<a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
	</footer>
	<!-- javascript- -->
	<script type="text/javascript" src="js/login_status.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/search.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/jquery-3.2.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#item-file").change(function(){
				var filePath = $(this).val().split("\\");
				var len = filePath.length;
				var file = filePath[len-1];
				if (!file) {
					filePath = "img/loadPic.png"
				}
				filePath = "img/"+file;
				// console.log(filePath);
				$("#item-pic").attr("src",filePath);

			})
		});
	</script>
</body>
</html>