<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<title>校园二手物品交易平台</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		localStorage.setItem('serverUrl','http://124.70.189.210:8080/');
	</script>
</head>
<body>
	<!-- 导航 -->
	<header class="navbar">
		<div class="nav-info" id="login_status">
			<span v-if="id==''">
				<a href="login.html" class="username">前往登录</a>
			</span>
			<span v-else>
				<a href="personal.html" class="username">{{name}}</a>
				<a href="#" class="logout" v-on:click="logout()">[ 退出登录 ]</a>
			</span>
		</div> <!-- nav-info -->
		<!--搜索框-->
		<div class="nav-search" id="search" >
			<a href="index.html"><img class="logo" src="img/logo3.png"></a>
			<div class="search-form">
				<a href="#" class="search-logo">| &nbsp;<img src="img/search.png"></a>
				<input type="search" class="searchIn" placeholder="搜物品" v-model="keyWord">
				<button class="searchBtn" v-on:click="search">搜索</button>
			</div>
		</div><!--  nav-search -->
		<ul class="menu">
			<li><a class="active" href="index.html">首页</a></li>
			<li><a href="allItems.html">全部物品</a></li>
			<li><a href="askItem.html">求物品</a></li>
			<li><a href="shoppingCart.html">购物车</a></li>
			<li><a href="personal.html">个人中心</a></li>
		</ul>			
	</header>

	<div id="index" >
	<!-- 轮播 -->
	<div class="carousel">
		<div class="item-guide">
			<h4>分类导航</h4>
			<ul class="item-class">
				<li v-for="(item,index) in classify">
					<a href="#"  v-on:click="change_classify(index)">{{item}}</a>
				</li>
			</ul>
		</div><!-- item-guide -->

		<div class="slider">
			<div class="slider-img">
				<ul class="slider-img-ul">
					<li><img src="img/carousel/5.jpg"></li>
					<li><img src="img/carousel/1.jpg"></li>
					<li><img src="img/carousel/2.jpg"></li>
					<li><img src="img/carousel/3.jpg"></li>
					<li><img src="img/carousel/4.jpg"></li>
					<li><img src="img/carousel/5.jpg"></li>
					<li><img src="img/carousel/1.jpg"></li>
				</ul>
			</div>
		</div><!-- 	slider -->
	</div><!-- carousel -->

	<!-- 物品分类 -->
	<div id="container">
		<div class="item-part"  v-for="(type,index) in classify" v-if="showing==index">
			<h3 class="item-title"><a href="#">| {{type}}</a></h3>
			<a class="more" href="#" v-on:click="getMore(index)" > > > 更多</a>	<!--跳转到全部物品页，传下标-->
			<ul class="item-lists">
				<li class="item-list" v-for="item in itemList" v-on:click="to_detail(item.commodity_id)">
					<a href="#" class="item-pic">
						<img :src="item.commodity_cover_pic_url">
					</a>
					<a href="#" class="item-info">
						<h5 class="item-name">{{item.commodity_name}}</h5>
						<span class="item-detail">校区：{{item.area}}</span>
					</a>
					<span class="item-price">￥{{item.commodity_price}}
						<a href="#" class="item-buy">查看详情</a>
					</span>
				</li>




			</ul><!--  item-list end -->
		</div><!--  item-part end -->


	</div> <!-- container end-->
	</div>


	<script type="text/javascript" src="js/jquery-3.2.js"></script>
	<script type="text/javascript" src="js/xSlider.js"></script>
	<script type="text/javascript" src="js/login_status.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/search.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/index.js" charset="utf-8"></script>
	<script type="text/javascript">
		// $(function(){

		// 	$(".item-class li a").on("click",function(){
		// 		var classId = $(this).prop("title");
		// 		console.log(classId);
		// 		var classTop =  $("#container").find(("#"+classId)).offset().top;
		// 		$("html,body").animate({scrollTop:classTop+ "px"}, 500);
		// 	});
		// })
	</script>

	<footer>
		<a href="#">©2018-2019 二手书交易</a>
		<a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
	</footer>

</body>
</html>