<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<title>登录</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>

	<div id="login-container">
		<h3>校园二手物品交易平台</h3>
		<!--登录表单-->
		<form v-if="type=='login'" name="login" action="" method="post">
			<input type="text" name="userID" class="userName" placeholder="账号" v-model="userID"><br/>
			<input type="password" name="password" class="password" placeholder="密码" v-model="password"><br/>
			<a class="forgetPass" href="#" v-on:click="to_signUp">没有账号？前往注册</a> <br>
			<a class="forgetPass" href="#">忘记密码?</a><br/>
			<input type="button" class="loginBtn" value="登录" v-on:click="login"><br/>
			<button class="returnBtn" ><a href="index.html">返回首页</a></button>

		</form>
		<!--注册表单-->
		<form v-else name="signUp" action="" method="post">
			<input type="text" name="userID" class="userName" placeholder="账号" v-model="userID"><br/>
			<input type="password" name="password" class="password" placeholder="密码" v-model="password"><br/>
			<input type="password" name="password2" class="password" placeholder="再次输入密码" v-model="password2"><br/>
			<a class="forgetPass" href="#" v-on:click="to_login">已有账号，前往登录</a> <br>
			<input type="button" class="loginBtn" value="注册" v-on:click="signUp"><br/>
			<button class="returnBtn" ><a href="index.html">返回首页</a></button>
		</form>
	</div>


	<script type="text/javascript" src="js/login.js" charset="utf-8"></script>
</body>
</html>
