<!DOCTYPE html>
<html>

<head>
    <title>出售物品</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/upload.css">
    <link rel="stylesheet" type="text/css" href="css/public.css">

    <link rel="stylesheet" type="text/css" href="css/outer/iview.css">
    <script type="text/javascript" src="js/outer/iview.min.js"></script>
</head>

<body>
    <!-- 导航条 -->
    <nav class="navbar">
        <div class="nav-menu">
            <ul class="menu">
                <li><a href="index.html">首页</a></li>
                <li><a href="allItems.html">全部物品</a></li>
                <li><a href="askItem.html">求物品</a></li>
                <li><a href="shoppingCart.html">购物车</a></li>
                <li><a class="active" href="personal.html">个人中心</a></li>
            </ul>
        </div>
        <!-- nav-menu -->

        

        <div class="nav-info" id="login_status">
            <span v-if="id==''">
				<a href="login.html" class="username">前往登录</a>
			</span>
            <span v-else>
				<a href="personal.html" class="username">{{name}}</a>
				<a href="#" class="logout" v-on:click="logout()">[ 退出登录 ]</a>
			</span>
        </div>
        <!-- nav-info -->
    </nav>

    <div class="titleName">
        <h3>出售二手物品</h3>
        <p>设置二手物品相关信息</p>
    </div>

    <div class="container">
        <form class="upload-form" id="formContain">
            <p>
                <span class="pic-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 封&nbsp;&nbsp;&nbsp;&nbsp;面&nbsp;&nbsp;&nbsp;&nbsp;图：
                <input @change='add_img' type="file">
                <!-- <img src="cover_pic" id="cover_pic"> -->
            </p>

            <p>
                <span class="author-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 物&nbsp;&nbsp;&nbsp;&nbsp;品&nbsp;&nbsp;&nbsp;&nbsp;名：
                <input type="text" v-model="commodity_name" name="commodity_name">
            </p>
            <p>
                <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 所&nbsp;属&nbsp;&nbsp;类&nbsp;型：
                <select name="commodity_type" v-model="commodity_type">
					<option disabled value="">请选择</option>
					<option value="二手教辅">二手教辅</option>
					<option value="非教辅类书籍">非教辅类书籍</option>
					<option value="学习用具">学习用具</option>
					<option value="技能服务" >技能服务</option>
					<option value="手机数码">手机数码</option>
					<option value="服饰/美妆">服饰/美妆</option>
					<option value="零食/饮品/水果">未开封食品</option>
					<option value="玩具/游戏交易">游戏交易</option>
					<option value="其他">其他</option>
				</select>
            </p>

            <p>
                <span class="orign-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 物&nbsp;品&nbsp;&nbsp;原&nbsp;价：
                <input type="text" v-model="commodity_original_price" name="commodity_original_price">
            </p>
            <p>
                <span class="price-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 物&nbsp;品&nbsp;&nbsp;售&nbsp;价：
                <input type="text" v-model="commodity_price" name="commodity_price">
            </p>

            <p>
                <span class="desc-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 物&nbsp;品&nbsp;&nbsp;描&nbsp;述：
                <textarea type="text" v-model="commodity_description" name="commodity_description"></textarea>
            </p>

            <p>
                <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 校&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：
                <select name="area" v-model="area">
					<option disabled value="">请选择</option>
					<option value="北校区">北校区</option>
					<option value="南校区">南校区</option>
					<option value="国际校区">国际校区</option>
				</select>
            </p>

            <p>
                <span class="pic-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 描述图片1： <input type="file" name="desc_img1" @change='add_desc_img'>
                <!-- <img src="desc_img1" id="desc_img1"> -->
            </p>
            <p>
                <span class="pic-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 描述图片2： <input type="file" name="desc_img2" @change='add_desc_img'>
                <!-- <img src="desc_img2" id="desc_img2"> -->
            </p>
            <p>
                <span class="pic-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 描述图片3： <input type="file" name="desc_img3" @change='add_desc_img'>
                <!-- <img src="desc_img3" id="desc_img3"> -->
            </p>

                <i-button type="primary" @click="uploadToServer">发布</i-button>
               
        </form>

            <!-- 模态窗口 -->
        <Modal title="View Image" v-model="modalVisible">
            <img :src="'https://o5wwk8baw.qnssl.com/' + imgName + '/large'" v-if="visible" style="width: 100%">
        </Modal>


    </div>


    <footer class="footer-center">
        <a href="#">©2019-2020 二手物品交易</a>
        <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
    </footer>
    <!-- javascript- -->
    <script type="text/javascript" src="js/login_status.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/search.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/jquery-3.2.js"></script>
    <script type="text/javascript" src="js/sellUpload.js"></script>

</body>

</html>